@font-face {
	font-family: 'fsmeweb-regular';
	src: url('../fonts/fsmeweb-regular.eot');
	src: local('☺'), url('../fonts/fsmeweb-regular.woff') format('woff'), url('../fonts/fsmeweb-regular.ttf') format('truetype'), url('../fonts/fsmeweb-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fsmeweb-light';
	src: url('../fonts/fsmeweb-light.eot');
	src: local('☺'), url('../fonts/fsmeweb-light.woff') format('woff'), url('../fonts/fsmeweb-light.ttf') format('truetype'), url('../fonts/fsmeweb-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fsmeweb-bold';
	src: url('../fonts/fsmeweb-bold.eot');
	src: local('☺'), url('../fonts/fsmeweb-bold.woff') format('woff'), url('../fonts/fsmeweb-bold.ttf') format('truetype'), url('../fonts/fsmeweb-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.clear{clear:both;}
@primary-color: #5D9A1B;
@secondary-color: #AA005F;
@primary-text-color: rgba(0,0,0,0.87);
@white: #FFFFFF;
*{
  box-sizing: border-box !important;
}
body{
  font-family: "fsmeweb-light", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
	text-rendering: optimizeLegibility;
}
.container{
  height: 100%;
  position: relative;
}

a{
  color: @primary-color;
  text-decoration: none;

}
.header{
  height: 70px;
  max-height: 70px;
  background: #FAFAFA;
  padding: 0 30px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid @primary-color;
  .logo{
		width: 178px;
		height: 28px;
		background: url("../images/logo.svg") no-repeat;
  }

}
.intro-title{
  font-size: 32px;
  font-weight: 300;
  color: @primary-text-color;
  margin: 30px 30px 0 30px;;
}
.intro-desc{
  font-size: 16px;
  font-weight: 400;
  color: @primary-text-color;
  margin: 0 30px 60px 30px;
}
.prediction-panel{
  position: absolute;
  width: 300px;
  float: left;
  margin: 30px 0 0 30px;
  padding: 25px 20px;
  border: 1px solid #D7D7D7;
  border-radius: 20px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

  .panel-desc{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .prediction-item{
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &:last-child{
      margin-bottom: 0;
    }

    .prediction-icon{
      float: left;
      width: 40px;
      display: table-cell;
      vertical-align: middle;
    }
    .prediction-content-holder{
      float: left;
      margin-left: 20px;
      .prediction-title{
        float: left;
        font-family: "fsmeweb-regular";
        font-size: 16px;
				margin-bottom: 7px;
      }
      .prediction-change{
        float: left;
        font-family: "fsmeweb-light";
        font-size: 14px;
      }
    }
    .prediction-value{
      float: right;
      font-family: "fsmeweb-light";
      font-size: 32px;
      margin-left: auto;
    }
  }
}
.plan-table-wrapper{
	width: 100%;
	padding: 30px 30px 0 360px;
	float: left;

	.plan-table{
		width: 100%;
		float: left;
		border: 1px solid #E0E0E0;

		.row1{width: 45%; float: left; padding: 25px 20px}
		.row2{width: 30%; float: left; padding: 25px 20px}
		.row3{width: 25%; float: left; padding: 25px 20px}

		.plan-row-headers{
			float: left;
			width: 100%;
			font-size: 16px;
			font-family: "fsmeweb-regular";
			color: #484641;
			height: 85px;
			display: flex;
			align-items: center;
			background: #ffffff; /* Old browsers */
		  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
		  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
		  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
			border-bottom: 1px solid #E0E0E0;
		}
		.plan-row-data{
			font-family: "fsmeweb-light";
			font-size: 16px;
			color: #484641;
			float: left;
			border-bottom: 1px solid #E0E0E0;
			.plan-name{
				font-size: 20px;
				color: @primary-color;
				font-family: "fsmeweb-regular";
				width: 100%;
				float: left;
				margin-bottom: 15px;
			}
			.plan-code{
				width: 100%;
				float: left;
				margin-bottom: 15px;
			}
			.plan-details{
				color: #046AB2;
				text-decoration: underline;
				float: left;
				cursor: pointer;
			}
			.plan-cost{
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.plan-oop{
				margin-bottom: 15px;
				font-family: "fsmeweb-bold";
				font-size: 32px;
			}
			.plan-select{
				color: #FFF;
				padding: 10px 15px 10px 37px;
				border-radius: 5px;
				font-family: "fsmeweb-regular";
				font-size: 16px;
				background: #AA005F; /* Old browsers */
			  background: -moz-linear-gradient(top,  #AA005F 0%, #88004C 100%); /* FF3.6-15 */
			  background: -webkit-linear-gradient(top,  #AA005F 0%,#88004C 100%); /* Chrome10-25,Safari5.1-6 */
			  background: linear-gradient(to bottom,  #AA005F 0%,#88004C 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AA005F', endColorstr='#88004C',GradientType=0 ); /* IE6-9 */
				position: relative;

				span.select-icon{
					position: absolute;
					background: url("../images/right-white.svg");
					left: 15px;
					width: 12.75px;
					height: 9.8px;
					top: 13px;
				}
			}
			&:nth-child(odd){
				background: #EEE;
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
.primary-button{
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: @secondary-color;
  border: 1px solid @secondary-color;
  color: @white;
  letter-spacing: normal;
  text-transform: none;
  font-size: 14px;
}
.secondary-button{
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: @white;
  color: @secondary-color;
  border: 1px solid @secondary-color;
  text-transform: none;
  letter-spacing: normal;
  font-size: 14px;

  span, i{
    vertical-align:middle;
  }

  &.space-right{
    margin-right: 10px;
  }
}
.app-footer{
  width: 100%;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
  padding: 20px 30px;
  margin-top: 30px;

  .footer-center-content{
    padding: 0 30px;
    font-size: 12px;
  }
  span{
    vertical-align: middle;
  }
}
